<fieldset [disabled]="disabled()">
  <legend>{{ keys() + 'heading' | translate }}</legend>
  <div class="add-row">
    <input
      spellcheck="false"
      [attr.aria-label]="keys() + 'newLabel' | translate"
      [ngModel]="question()"
      (ngModelChange)="edit($event)"
    />
    <button type="button" (click)="add()">{{ keys() + 'add' | translate }}</button>
  </div>
  @if (error(); as message) {
    <p role="alert">{{ message }}</p>
  }
  <table [attr.aria-label]="keys() + 'heading' | translate">
    <thead>
      <tr>
        <th scope="col">{{ keys() + 'column' | translate }}</th>
        <th scope="col" class="actions">
          <span class="sr-only">{{ 'fieldDesigner.columns.actions' | translate }}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (question of questions(); track $index; let i = $index) {
        <tr>
          <td>{{ question }}</td>
          <td>
            <button
              type="button"
              class="remove"
              [attr.aria-label]="keys() + 'removeNumbered' | translate: { number: i + 1 }"
              [title]="keys() + 'remove' | translate"
              (click)="remove(i)"
            >
              <app-icon key="trash" size="small" />
            </button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="2" class="empty">{{ keys() + 'none' | translate }}</td>
        </tr>
      }
    </tbody>
  </table>
</fieldset>
